/* src/components/NavBar/styles.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855; /* Berkeley Blue */
    padding: 0 20px;
    color: white;
  }
  
  .navbar-logo {
    height: 60px; /* Adjust size accordingly */
  }
  
  .navbar-links a,
  .login-btn {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .login-btn {
    background-color: #003262; /* Yale Blue */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navbar-links a:hover,
  .login-btn:hover {
    opacity: 0.7;
  }
  

  /* src/components/NavBar/styles.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855; /* Berkeley Blue */
    padding: 0 20px;
    color: white;
  }
  
  
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-item {
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-item:hover {
    color: #FFCD00; /* Berkeley Yellow for hover state */
  }
  