
/* NavBar.css */
.navbar-logo-image {
  width: 100px;  /* Set the width as desired */
  height: auto;  /* This will maintain the aspect ratio */
  
}



.navbar-links a,
.login-btn {
  color: white;
  text-decoration: none;
  
  font-weight: bold;
}

.navbar-links a:hover,
.login-btn:hover {
  opacity: 0.7;
}
  

 
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002855; /* Berkeley Blue */
    color: white;
  }
  
  .navbar-links {
    display: flex;
    padding: 0 70px;
    margin-left: 80px;
    
  }
  
  .navbar-item {
    background: none;
    border: none;
    color: white;
    padding: 10px 70px;
    
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .navbar-item:hover {
    color: #FFCD00; /* Berkeley Yellow for hover state */
  }
  

/* NavBar.css */
.social-icon-instagram {
  
  color: #fff; /* White color, change as needed */
  margin: 0 30px; /* Spacing around the icons */
  font-size: 24px; /* Size of the icons */
  
  
}

.social-icon-reddit {
  
  color: #fff; /* White color, change as needed */
  margin: 0 30px; /* Spacing around the icons */
  font-size: 24px; /* Size of the icons */
  /*margin-right: 800px;*/

  
}

.social-icon-instagram:hover {
  color: #ccc; /* Lighter color on hover */
}

.social-icon-reddit:hover {
  color: #ccc; /* Lighter color on hover */
}


