.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* src/App.css */
/* ... other styles ... */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #002855; /* Berkeley Blue */
  border-radius: 5px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content {
  position: relative;
  background: #fff;
  padding: 5px;
  width: 90%;
  max-width: 90%; /* Adjust the width as needed */
}

/* Style for the close button if needed */
.close-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 21;
}

/* src/App.css */

/* ... other styles ... */

.review-button {
  background-color: #004785; /* Berkeley Navy */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #002855;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s ease;
}


.review-button:hover {
  background-color: #002855; /* Darker shade for hover */
}

.review-button:active {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

